<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.onesignal">
  <!-- OneSignal SDK has runtime checks Android version. -->
  <!-- <uses-sdk tools:overrideLibrary="android.support.customtabs"/> -->
  <!-- INTERNET and c2dm RECEIVE are basic requirements for push messages through Google's GCM. -->
  <application>
    <activity android:name=".MainActivity"></activity>

    <activity
      android:name=".PermissionsActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <receiver android:name=".NotificationOpenedReceiver" />
    <receiver android:name=".BootUpReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
      </intent-filter>
    </receiver>
    <receiver android:name=".UpgradeReceiver">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>
    <service android:name=".GcmIntentService" />
    <service
      android:name=".GcmIntentJobService"
      android:permission="android.permission.BIND_JOB_SERVICE" />
    <service
      android:name=".RestoreJobService"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <service
      android:name=".RestoreKickoffJobService"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <service
      android:name=".SyncService"
      android:stopWithTask="true" />

    <service
      android:name=".SyncJobService"
      android:permission="android.permission.BIND_JOB_SERVICE" />
    <service android:name=".NotificationRestoreService" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" /> <!-- Required, makes sure notifications are delivered on time. -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <!--
 Required so the device vibrates on receiving a push notification.
         Vibration settings of the device still apply.
    -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <!--
 Use to restore notifications the user hasn't interacted with.
         They could be missed notifications if the user reboots their device if this isn't in place.
    -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- START: ShortcutBadger -->
  <!-- Samsung -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="com.sec.android.provider.badge.permission.READ" /> <!-- HTC -->
  <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
  <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" /> <!-- Sony -->
  <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
  <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" /> <!-- Apex -->
  <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" /> <!-- Solid -->
  <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" /> <!-- Huawei -->
  <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
  <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
  <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" /> <!-- ZUK -->
  <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" /> <!-- OPPO -->
  <uses-permission android:name="android.permission.READ_APP_BADGE" />
  <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" /> <!-- EvMe -->
  <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
  <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />

  <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

</manifest>