# Gradle
.gradle/
build/
*/build/

# Local properties
local.properties
OneSignalSDK/local.properties
examples/demo/local.properties

# macOS
.DS_Store

# IDE files
.idea/
*.iml

# Captures
captures/
OneSignalSDK/captures/
examples/demo/captures/

# GPG files
*.gpg

# Misc
*.log
*.tmp
*.swp
*.swo

# Node modules (if using JS tooling)
node_modules/

# Android Studio
*.apk
*.ap_

# Coverage report
coverage/diff_coverage.html
