<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onesignal.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- All OneSignal manifest entries are added for you automatically from the OneSignal aar gradle entry. -->


    <!-- Optional permission, needed for geo tagging feature. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ExampleApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!-- Disable opening of launcher Activity -->
        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />

        <!-- Disable Badges -->
        <!-- <meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE" /> -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GreenActivity" />

        <service
            android:name=".NotificationExtenderExample"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <receiver android:name=".SummaryNotificationReceiver" />
    </application>

</manifest>