<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onesignal">

    <application>

        <!--
            Previous filled with GCM receiver and permissions, not required for FCM per this migration guide:
            https://developers.google.com/cloud-messaging/android/android-migrate-fcm
        -->

    </application>

</manifest>
