<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onesignal.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />
    
    <!-- ##START## OneSignal Permissions -->
    
    <!-- INTERNET and c2dm RECEIVE are basic requirements for push messages from Google. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <!-- Create a unique permission for your app and use it so only your app can receive your OneSignal messages. -->
    <permission android:name="com.onesignal.example.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.onesignal.example.permission.C2D_MESSAGE" />
    
    <!-- Required, makes sure notifications are delivered on time. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Required so the device vibrates on receiving a push notification.
    	 Vibration settings of the device still apply. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- START: ShortcutBadger -->
	<!--for Samsung-->
	<uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
	<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
	
	<!--for htc-->
	<uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
	<uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
	
	<!--for sony-->
	<uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
	
	<!--for apex-->
	<uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
	
	<!--for solid-->
	<uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
	<!-- End: ShortcutBadger -->
    
    <!-- ##END## OneSignal Permissions -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Standard activity that starts when opening your app normally. -->
        <activity
            android:name="com.onesignal.example.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Application tag requirements below for OneSignal -->
        <!-- ##START## OneSignal -->
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <meta-data android:name="onesignal_app_id"
           android:value="b2f7f966-d8cc-11e4-bed1-df8f05be55ba" />
        <meta-data android:name="onesignal_google_project_number"
           android:value="str:703322744261" />
        
        <receiver
            android:name="com.onesignal.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
        	<intent-filter>
            	<action android:name="com.google.android.c2dm.intent.RECEIVE" />
            	<category android:name="com.onesignal.example" />
         	</intent-filter>
     	</receiver>
     	
     	<receiver android:name="com.onesignal.NotificationOpenedReceiver" />
		<service android:name="com.onesignal.GcmIntentService" />
		<service android:name="com.onesignal.SyncService" android:stopWithTask="false" />
		<activity android:name="com.onesignal.PermissionsActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
     	
     	<!-- Optional receiver to get OneSignal Background Data Notifications. -->
     	<receiver
            android:name="com.onesignal.example.BackgroundDataBroadcastReceiver"
            android:exported="false">
        	<intent-filter>
            	<action android:name="com.onesignal.BackgroundBroadcast.RECEIVE" />
         	</intent-filter>
     	</receiver>
     	
     	<!-- ##END## OneSignal -->
     	
    </application>
</manifest>
